<!DOCTYPE html>{% load static%}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&amp;family=Roboto&amp;display=swap" rel="stylesheet">
    <!<link rel="stylesheet" href="/css/dashboard.css">>

    <link rel="stylesheet" href="{% static '/css/search.css' %}">
    <title>Dashboard-LMS</title>
</head>

<body>
    <section class="topbar">
        <h1 class="lms-hdr">LMS</h1>
        <div class="searchbar-cont">
            <div class="container h-100">
                <div class="d-flex justify-content-center h-100">
                    <form action="search/" method="POST" class="searchbar">
                        {% csrf_token %}
                        <input class="search_input" type="text" autocomplete="off" name="searchq" placeholder="Search...">
                        <button type="submit" class="search_icon"><img class="icon" src="{% static '/images/search.svg' %}"></button>
                    </form>
                </div>
            </div>
        </div>
        <div class="tabs">
            <a href="/shop/" class="tab-links">Shop</a>
            <a href="https://coe1.annauniv.edu/home/" class="tab-links">Result</a>
            <a href="/dashboard/course/" class="tab-links">Course</a>

            <div class="dropdown">
                <button class="dropbtn">Settings</button>
                <div class="dropdown-content">
                    <a href="#">Profile</a>
                    <a href="#">Feedback</a>
                    <a href="#">Attendance</a>
                    <a href="logout/">Log Out</a>

                </div>
            </div>
        </div>
    </section>
    <section class="result-cont">
        <div class="result-tab">
            <span class="sub">1. {{data.sub1.subcode}}  </span> <a href="/dashboard/course/{{data.sub1.subcode}}" class="titlelink">{{data.sub1.title}}</a><br>
            <span class="sub">2. {{data.sub2.subcode}} </span><a href="/dashboard/course/{{data.sub2.subcode}}" class="titlelink">{{data.sub2.title}}</a><br>
            <span class="sub">3. {{data.sub3.subcode}}  </span><a href="/dashboard/course/{{data.sub3.subcode}}" class="titlelink">{{data.sub3.title}}</a><br>
            <span class="sub">4. {{data.sub4.subcode}} </span><a href="/dashboard/course/{{data.sub4.subcode}}" class="titlelink">{{data.sub4.title}}</a><br>
            <span class="sub">5. {{data.sub5.subcode}} </span><a href="/dashboard/course/{{data.sub5.subcode}}" class="titlelink">{{data.sub5.title}}</a><br>
            <span class="sub">6. {{data.sub6.subcode}} </span><a href="/dashboard/course/{{data.sub6.subcode}}" class="titlelink">{{data.sub6.title}}</a><br>
            </div>
    </section>
</body>
</html>